<h2>Política de privacidad de la aplicación movil <u>ref actual</u></h2>
<br>
<h3>Titular y responsable del tratamiento</h3>
<p>Rafael Rodríguez</p>
<p>Desarrollador React native</p>
<p>Correo electrónico de contacto del propietario:
  <a href="mailto:rrg1459@hotmail.com">rrg1459@hotmail.com</a>
</p>
<hr>
<br>

<h3>Tipos de datos recopilados</h3>
<p>Esta aplicación no recolecta o extrae ningún tipo de dato del usuario.</p>
<hr>
<br>

<h3>Tipos de datos compartidos</h3>
<p>Esta aplicación no comparte ningún tipo de datos del usuario con otras empresas u organizaciones.</p>
<hr>
<br>

<h3>Permisos del dispositivo para el acceso a datos personales</h3>
<p>Esta aplicación no pide ningún tipo de permiso para el acceso a datos personales del usuario.</p>
<hr>
<br>

<h3>Publicidad en la aplicación</h3>
<p>Esta aplicación no contiene ningún tipo de publicidad durante su uso.</p>
<hr>
<br>
